@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #868686;
}



#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E8EAEC;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#question-mark {
    font-size: 32px;
    align-self: flex-start;
    animation: pulse 2s infinite;
    transition: 0.5s;
    cursor: pointer;
}

#question-mark:hover {
    color: #82a294;
}


#imgDiv {
    width: 800px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 22px;
    border: 5px solid #E8EAEC;
    background: #81B8B2;
    margin: auto;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(89, 89, 89, 1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(89, 89, 89, 1);
    box-shadow: 10px 10px 0px 0px rgba(89, 89, 89, 1);
}

#image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.5s;
    pointer-events: none;
    user-select: none;

}

#shareURL {
    text-align: center;
    color: #81b8b2;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 0;
    transition: 0.5s;
    user-select: all;
}

#copyIcon {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#copyIcon svg {
    width: 30px;
    height: 30px;
    fill: #E8EAEC;
    transition: 0.5s;
    margin-top: 10px;
}

#copyIcon svg:hover {
    fill: #82a294;

}

@keyframes pulse {
    0% {
        transform: scale(1);

    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.95);
    }
}